<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Canzone</title>
<style>
.blue-button {
	background: #25A6E1;
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',
		endColorstr='#188BC0', GradientType=0);
	padding: 3px 5px;
	color: #fff;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 12px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 4px;
	border: 1px solid #1A87B9
}

table {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	width: 50%;
}

th {
	background: SteelBlue;
	color: white;
}

td, th {
	border: 1px solid gray;
	width: 25%;
	text-align: left;
	padding: 5px 10px;
}
</style>
</head>
<body>
	<div align="center">
		<h1>Canzoni</h1>
		<a href="/new" class="blue-button">Aggiungi canzone</a> <br />
		<br />
		<table class="tg">
			<thead>
				<tr>
					<th>ID</th>
					<th>Titolo</th>
					<th>Anno</th>
					<th>Album</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="canz : ${listaCanz}">
					<td th:text="${canz.id}">ID</td>
					<td th:text="${canz.titolo}">Titolo</td>
					<td th:text="${canz.anno}">Anno</td>
					<td th:text="${canz.album}">Album</td>
				

					<td><a th:href="@{'/edit/' + ${canz.id}}">Modifica</a>	
						&nbsp;&nbsp;&nbsp; <a th:href="@{'/delete/' + ${canz.id}}">Elimina
					</a></td>

				</tr>
			</tbody>
		</table>
			<form th:action="@{/search}">
   				<input type="text" id="titolo" name="titolo" />
   				<button type="submit" class="blue-button">Cerca per titolo</button>
			</form>
		<a href="/" class="blue-button">Visualizza tutti</a> <br />
<!-- 	
Esempio di mescolanza tra pathVariable e RequestParam
<form th:action = "@{'/carrello/' + ${pd.id} (quantita=*{value})}">
-->	
		
	</div>
</body>
</html>